/* .banner-img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
} */

.carousel-item{
    width: 100vw;
    height: 50vh;
}

.banner1{
    background-image: url('../assets/rashiratna.png');
    background-size: cover; 
    background-position: center;
}
.banner2{
    background-image: url("../assets/kundliService.jpg");
    background-size: cover; 
    background-position: center;
}
.banner3{
    background-image: url("../assets/lalkitab.png");
    background-size: cover; 
    background-position: center;
}
.userdetails{
    position: absolute;
    /* margin-left: 2rem; */
    left: 30px;
    z-index: 3;
}