*{
    margin: 0px;
    padding: 0px;
}

html,body {
  position: relative;
}

a{
    color: inherit !important;
    text-decoration: none !important;
}

.banner-img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.carousel-item{
    width: 100vw;
    height: 50vh;
}

.userdetails{
    position: absolute;
    /* margin-left: 2rem; */
    left: 30px;
    z-index: 3;
}

footer{
    position: sticky;
    bottom: 0;
    background: #f1f1f1;
    width: 100%;
    padding: 16px 0px;
    color: #999;
    vertical-align: bottom;
    margin-top: 40px;
    text-align: center;
}
