*{
    margin: 0px;
    padding: 0px;
}

html,body {
  position: relative;
}

a{
    color: inherit !important;
    text-decoration: none !important;
}

footer{
    position: sticky;
    bottom: 0;
    background: #f1f1f1;
    width: 100%;
    padding: 16px 0px;
    color: #999;
    vertical-align: bottom;
    margin-top: 40px;
    text-align: center;
}